.Awards{
    height: 100%;
    width: 100%;
    background-color: rgb(37, 31, 31);
    margin-top:5rem
}
.text-award{
    color: white;
    text-align: center;
    padding: 2rem;
}
// .item{
//     height: 50vh;
// }
//  img{
//     height: 30vh;
//     width:60vw;
//  }
//  .card{
//     padding: 2rem;
//  }