.Elevate {
  background-image: url("/asssets/services+elevate+eng+reno/7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  .text_ele {
    padding-top: 4rem;
    padding-left: 2rem;
    h1 {
      font-weight: 600;
    }
    .a_m {
      color: red;
    }
  }
}
.icon_con {
  display: flex;
  gap: 3rem;
  margin: 1rem 0;
  div {
    cursor: pointer;
  }
}
.x1 {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 480px) {
  .Elevate {
    .text_ele {
      padding: 3rem 1rem;
      h1 {
        font-size: 1.2rem;
      }
    }
    .icon_con {
      gap: 2rem;
    }
  }
}
