.exp-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  .exp-img {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .experience {
    padding: 3rem 2rem;
    margin-top: -18rem;
    background: white;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 65rem;
    box-shadow: rgba(101, 101, 101, 0.197) 3px 3px 15px;
    .experience-container-right {
      width: 60%;
      h1 {
        font-size: 2rem;
        margin: 1rem 0;
        font-weight: 700;
      }
      h3 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 600;
      }
      p {
        line-height: 1.8rem;
      }
      button {
        margin: 1rem 0;
        padding: 0.5rem 2rem;
        border: 1px solid $highlight;
        border-radius: 4px;
        outline: none;
        background-color: white;
        color: $highlight;
        font-weight: 700;
        font-size: 1rem;
        transition: all 0.5s ease;
        &:hover {
          background-color: $highlight;
          color: white;
        }
      }
      .new_s {
        span {
          color: #ff0000;
        }
      }
    }
    .experience-container {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 20px 40px;
      font-family: Arial, sans-serif;
      .experience-content {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 2rem 1rem;
        .years {
          font-size: 4rem;
          font-weight: bold;
          color: #ff0000;
        }

        .text {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2;
        }
      }
      .bracket {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 15px;
          background-color: #ff0000;
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }

        &.left {
          left: 0;
          border-left: 15px solid #ff0000;
        }

        &.right {
          right: 0;
          border-right: 15px solid #ff0000;
        }
      }
    }
  }
}

@media screen and (max-width: 1198px) {
  .exp-section {
    .exp-img {
      padding-bottom: 0;
    }
    .experience {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 1106px) {
  .exp-section {
    .exp-img {
      padding-bottom: 0;
    }
    .experience {
      width: 100%;
      margin: 0 1rem 1rem 1rem;
    }
  }
}
@media screen and (max-width: 990px) {
  .exp-section {
    .experience {
      flex-direction: column;
      .experience-container .experience-content {
        padding: 1rem;
        .years {
          font-size: 3rem;
        }
        .text {
          font-size: 1.5rem;
        }
      }
      .experience-container-right {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .exp-section {
    .experience {
      flex-direction: column;
      .experience-container {
        padding: 20px;
        .experience-content {
          padding: 1rem;
          .years {
            font-size: 2rem;
          }
          .text {
            font-size: 1rem;
          }
        }
      }
      .experience-container-right {
        width: 100%;
        h1,
        h3,
        p {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
    }
  }
}
