.carousel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height for the carousel */
    padding: 2rem;
    margin-top: 5rem;
    .carousel-image {
      flex: 1; /* Take 50% of the width */
      max-width: 50%;
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  
    .carousel-text {
      flex: 1; /* Take 50% of the width */
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 2rem;
        color: #000;
      }
      p {
        font-size: 1.2rem;
        color: #555;
      }
    }
  }
  

  .carousel {
    .carousel-inner {
      position: relative;
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      position: absolute;
      top: auto; /* Override top positioning */
      bottom: -50px; /* Position below the image */
      width: 50px; /* Set control width */
      height: 50px; /* Set control height */
      display: flex;
      justify-content: center;
      align-items: center;
  
      span {
        font-size: 30px; /* Adjust icon size */
      }
    }
  
    .carousel-control-prev {
      left: 25%;
    }
  
    .carousel-control-next {
      right: 75%;
    }
  
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(5, 1, 1, 0.5); /* Optional: Add background to icons */
      border-radius: 50%; 
      
    }
  
    /* Optional media query for smaller devices */
    @media (max-width: 768px) {
      .carousel-control-prev {
        left: 35%;
      }
  
      .carousel-control-next {
        right: 35%;
      }
    }
  }
  
  /* Adjust the carousel for smaller screens */
  @media (max-width: 768px) {
    .carousel-content {
      flex-direction: column;
      .carousel-image,
      .carousel-text {
        max-width: 100%;
        text-align: center;
        padding: 1rem 0;
      }
    }
  }
  